@charset "utf-8";

.wrapper { /* 그리드시스템 */
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

/* ===== header ===== */
header {
    position: relative;
    height: 1231px;
    margin: 0 auto;
    background: url(../imges/slide-img5.jpg) no-repeat top;
    background-color: black;
}

.background-bar {
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

/* left-menu */
.left-menu {
    position: relative;
    top: 5px;
}

.left-menu > ul {
    display: flex;
}

.left-menu a {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.left-menu a:first-child {
    padding-left: 0;
}

/* logo */
.logo {
    position: relative;
    top: 5px;
}

/* right-menu */
.right-menu > ul {
    display: flex;
}

.right-menu a {
    padding: 0 10px;
}

.right-menu a:last-child {
    padding-right: 0;
}

/* under-menu */
.flex-container2 {
    position: relative;
    margin-top: 15px;
}

.gnb {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 50%;
}

/* under-right-menu */
.under-right-menu {
    position: absolute;
    right: 0; top: 0;
}

.under-right-menu > ul {
    display: flex;
    align-items: center;
}

.under-right-menu li {
    padding-left: 5px;
}

.mobile-btn > span {
    display: block;
    width: 20px; height: 2px;
    background-color: white;
}

.mobile-btn > span:nth-child(2) {
    margin: 5px 0;
}