@charset "utf-8";

.wrapper { /* 그리드시스템 */
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* ===== header ===== */
header {
    position: relative;
    height: 1300px;
    background: url(../imges/slide1.jpg) no-repeat center top;
    background-color: black;
}

.background-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

/* flex-container1 */
.flex-container1 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 15px 0;
}

/* left-menu */
.left-menu {
    flex: 480px;
}

.left-menu ul {
    display: flex;
}

.left-menu a {
    padding: 0 30px;
    display: flex;
}

.left-menu a:hover {
    font-weight: 600;
    text-decoration: underline;
}

.left-menu a:first-child {
    padding-left: 0;
}

.left-menu li img {
    padding-right: 5px;
}

/* logo */
.logo {
    width: 166px;
    height: 54px;
}

/* right-menu */
.right-menu {
    flex: 480px;
}

.right-menu ul {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-left: 140px;
}

.right-menu a:hover {
    font-weight: 600;
    text-decoration: underline;
}

/* flex-container2 */
.flex-container2 {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

/* under-menu */
.under-menu {
    margin-bottom: 5px; 
}

.gnb {
    display: flex;
    width: 450px;
    justify-content: space-between;
    margin: 0 auto;
}

.gnb > li > a:hover {
    font-weight: 600;
    text-decoration: underline;
}

/* under-right-menu */
.under-right-menu > ul {
    position: absolute;
    right: 0; top: 0;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under-right-menu > ul > li > a:hover {
    font-weight: 600;
    text-decoration: underline;
}

/* mobile-btn */
.mobile-btn > span {
    display: block;
    width: 20px; height: 2px;
    background-color: white;
}

.mobile-btn > span:nth-child(2) {
    margin: 5px 0;
}

/* movie-box */
.movie-box {
    position: absolute;
    top: 627px;
}

.movie-box ul {
    display: flex;
    margin: 0 auto;
}

.movie-box li {
    margin-right: 20px;
}

.movie-box li > .space {
    position: relative;
} 

.movie-box li > .space > img { 
    width: 280px;
}

.movie-box li > .space::after {
    position: absolute;
    left: 0; top: 0;
    content: ''; 
    opacity: 0.7;
    background-color: black;
    height: 100%;
    width: 0%;
    transition: all 0.5s;
}

.movie-box li > .space:hover::after {
    width: 100%;
}

.movie-box li > .space > .plus {
    position: absolute;
    left: -10px; top: 10px;
    width: 260px; height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.movie-box li > .space > .plus > p {
    text-align: justify;
}

.movie-box li > .space:hover > .plus {
    left: 20px;
    opacity: 1;
}

.movie-box p {
    display: flex;
    margin-right: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    align-items: center;
    font-size: 17px;
}

.movie-box p > img {
    width: 35px;
    padding-right: 9px;
}

.movie-box li .book {
    display: flex;
    color: white;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
}

.movie-box li .book > .book-btn {
    width: 123px;
    height: 27px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #503396;
    cursor: pointer;
}

.movie-box li .book > .book-btn:hover {
    background-color: #241744;
}

/* ===== main =====*/
/* event */
.event {
    margin-top: 30px;
}

.event .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.event .sub-title > p,
.event .sub-title > a {
    color: black;
}

.event .sub-title > p {
    font-size: 25px;
}

.event .sub-title > a:hover {
    text-decoration: underline;
}

/* event-box */
.event-img-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.event-img-box > img {
    display: block;
}

.event-img-box > img:first-child {
    width: 330px; height: 265px;
    margin-right: 22px;
}

.event-img-box > img:nth-child(2) {
    width: 383px; height: 352px;
}

.event-img-box > img:nth-child(3) {
    width: 472px; height: 220px;
    margin-right: 22px;
}

.event-img-box > img:nth-child(4) {
    width: 218px; height: 220px;
    margin-right: 22px;
}

.event-img-box > img:last-child {
    position: absolute;
    top: 0; right: 0;
    width: 446px; height: 572px;
}

/* icon-box */
.icon-box {
    background-color: #503396;
}

.icon-box > .wrapper > ul {
    display: flex;
}

.icon-box > .wrapper > ul > li {
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    background-color: skyblue;
}

.icon-box > .wrapper > ul > li > img {

}

/* cinema */
.cinema {
    margin-top: 30px;
}

.cinema .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.cinema .sub-title > p,
.cinema .sub-title > a {
    color: black;
} 

.cinema .sub-title > p {
    font-size: 25px;
}

.cinema .sub-title > a:hover {
    text-decoration: underline;
}

/* flex-container3 */
.flex-container3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cinema img {
    width: 602px;
    height: 318px;
}

/* cinema-name */
.cinema-name li {
    display: flex;
    width: 530px;
    height: 79px;
    margin-left: 35px;
    justify-content: space-between;
    cursor: pointer;
}

.cinema-name li:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.cinema-name li p {
    color: black;
    line-height: 79px;
    padding-left: 24px;
    font-size: 23px;
}

.cinema-name li span {
    line-height: 79px;
    padding-right: 24px;
    color: #6f7673;
    text-align: right;
}

/* curation */
.curation-box {
    margin-top: 30px;
    background-color: #252451;
}

.curation .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0;
}

.curation .sub-title > p {
    font-size: 25px;
}

.curation .sub-title > a:hover {
    text-decoration: underline;
}

/* curation-main */
.curation-main img {
    width: 330px;
    margin-bottom: 11px;
}

.curation-main .btn-box {
    display: flex;
}

.curation-main .btn-box div {
    width: 161px;
    height: 55px;
    color: white;
    cursor: pointer;
}

.curation-main .btn-box .info-btn {
    text-align: center;
    border: 1px solid white;
    line-height: 55px;
    font-size: 22px;
    margin-right: 9px;
}

.curation-main .btn-box .book-btn2 {
    text-align: center;
    background-color: #037b94;
    line-height: 55px;
    font-size: 22px;
}

.curation-main .btn-box .info-btn:hover,
.curation-main .btn-box .book-btn2:hover {
    background-color: #014452;
}

/* flex-container4 */
.flex-container4 {
    display: flex;
}

/* curation-txt */
.curation-txt {
    margin-left: 57px;
}

.curation-txt > p:first-child {
    font-size: 22px;
    margin-bottom: 10px;
}

.curation-txt > p:nth-child(2) {
    font-size: 38px;
}

.curation-txt > p:nth-child(2),
.curation-txt > p:nth-child(3),
.curation-txt > p:nth-child(4) {
    margin-bottom: 40px;
}

.curation-img > ul {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.curation-img > ul > li {
    margin-right: 17px;
}

.curation-img > ul > li:last-child{
    margin-right: 0;
}

.curation-img > ul > li > img {
    width: 186px;
    height: 267px;
    margin-bottom: 10px; 
}

.curation-img > ul > li > p {
    text-align: center;
}

/* ===== footer ===== */
footer {
    margin: 40px 0;
}

footer > .wrapper {
    display: flex;
    align-items: center;
} 

.footer-logo-box {
    width: 222px;
    height: 51px;
    background-color: #252451;
}

.footer-logo-box > p {
    text-align: center;
    line-height: 51px;
    font-size: 39px;
}

.foot-info {
    margin-left: 85px;
}

.foot-info > address {
    font-size: 14px;
}

.foot-info > p {
    color: black;
    font-size: 14px;
}

