@charset "utf-8";

.wrapper { /* 그리드시스템 */
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

/* ===== header ===== */
header {
    position: relative;
    height: 1231px;
    margin: 0 auto;
    background: url(../imges/slide-img1.jpg) no-repeat top;
    background-color: black;
}

.background-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left-menu */
.left-menu > ul {
    display: flex;
}

.left-menu {
    align-items: center;
}

.left-menu a {
    padding: 0 10px;
}

.left-menu a:first-child {
    padding-left: 0;
}

/* right-menu */
.right-menu > ul {
    display: flex;
}

.right-menu a {
    padding: 0 10px;
}

.right-menu a:last-child {
    padding-right: 0;
}

/* hr */
hr {
    margin: 15px 0;
}

/* under-menu */
.under-menu {
    margin: 0 auto;
}

.gnb {
    display: flex;
}

.gnb a {
    padding: 0 20px;
}

/* under-right-menu */
.under-right-menu > ul {
    display: flex;
}

.mobile-btn > span {
    display: block;
    width: 20px; height: 2px;
    background-color: white;
}

.mobile-btn > span:nth-child(2) {
    margin: 5px 0;
}